

.AllCardHomeProfile {
    max-width: 600px; 
    margin: 5% auto; 
    padding: 30px;
    margin-top:11%;
    background-color: #000000; 
    color: #ecf0f1; 
    border-radius: 1%; 
    
    /* border shadow p */
    box-shadow: 0 10px 20px rgb(0, 16, 165), 
       /* border shadow color s*/
       0 0 0 5px rgb(7, 7, 7); 
    
    display: flex;
    align-items: center;
    gap: 12%; 
    
    /* Animation entrance */
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInSlide 0.8s ease-out forwards;
}
@keyframes fadeInSlide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.CardFtProfileHome {
    flex-shrink: 0; 
}

.FtProfileHome {
    border-radius: 50%; 
    border: 5px solid #000000f5;
    object-fit: cover; 
   box-shadow: 0 4px 15px rgb(25, 0, 255);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.FtProfileHome:hover {
    transform: scale(1.05);
    box-shadow:  0 4px 14px #c497ffda; 
}


.CardHomeInfoP {
    text-align: left;
}

.TitleNameHome {
    font-size: 2.2em;
    margin-bottom: 5px;
    color: #d5ecff;
    letter-spacing: 1px;
    text-shadow: 0 0 10px #7a00ff, 0 0 20px #c700ff;
}


.InfoStudyHome {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: #cacaca; 
    font-weight: 500;
    text-transform: uppercase;
      text-shadow: 0 0 10px #0011ff, 0 0 20px #2c7fc4;
}

.InfoIdeaHome {
    font-size: 1em;
    font-style: italic;
    color: #80cffd; 
    border-left: 2px groove #a5f2ff;
    padding-left: 10px;
}

@media (max-width: 650px) {
    .AllCardHomeProfile {
        flex-direction: column;
        text-align: center; 
        max-width: 90%;
        margin: 30px auto;
        padding: 20px;
        gap: 20px;
    }
    
    .CardHomeInfoP {
        text-align: center;
    }

    .TitleNameHome {
        font-size: 1.8em;
    }

    .InfoStudyHome {
        font-size: 1.1em;
    }

    .InfoIdeaHome {
        border-left: none; 
        padding-left: 0;
        padding-top: 10px;
        border-top: 2px solid #3498db; 
    }
}