/* Paleta de Colores
   - Fondo Base: #000000
   - Acento Luminoso/Eléctrico: rgb(0, 14, 141)
   - Acento Vivo (Rol/Detalle): #3498db
   - Fondo Secundario: #1a1a1a
   - Texto Principal: #ecf0f1
   Prueba de cambio
   - Acento Luminoso/Eléctrico: rgb(0, 22, 121)
   - Acento Vivo (Rol/Detalle): #2443db
   - Fondo Secundario: #adadad07
*/


.AllCardProfileMyInfo {
    max-width: 900px; 
    margin: 50px auto; 
    padding: 40px;
    
    background-color: #000000; 
    color: #ecf0f1; 
    border-radius: 12px; 
    border: 2px groove rgb(1, 0, 12);
    
   
    box-shadow: 
        0 10px 25px rgb(0, 3, 151), 
        0 0 0 5px rgba(5, 0, 22, 0.89); 
    
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInSlide 0.8s ease-out forwards;
}

@keyframes fadeInSlide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.ContainerTitleCardPrfoile {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #00e1ff; 
}

.TitleNameCardProfile {
    font-size: 2.5em;
    margin-bottom: 5px;
    letter-spacing: 1px;
    color:#d5ecff ;
    text-shadow: 0 0 10px #7a00ff, 0 0 20px #2c7fc4;
}

.subTitleWorkCardProfile {
    font-size: 1.4em;
    font-weight: 500;
    text-transform: uppercase;
    color: #cacaca; 
     text-shadow: 0 0 10px #0011ff, 0 0 20px #777777;
}


.ContainerMyInfoCardProfile {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #001620; 
    border-radius: 8px;
    border-left: 5px groove #ace7ff; 
}

.AboutMeTitleCardProfile {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 15px;
    text-shadow: 0 0 10px #000000, 0 0 20px #001aff;
}

.DescriptionCardProfile {
    font-size: 1em;
    line-height: 1.6;
    color: #93e9ff; 
    margin-bottom: 15px;
    text-align: justify;
}



.AllContainerStudiesCardProfile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px; 
}

.subContainerStudyCardProfile {
    background-color: #001620; 
    padding: 20px;
    border-radius: 8px;
   
    border: 1px solid #668aff; 
    transition: transform 0.3s ease;
}

.subContainerStudyCardProfile:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgb(0, 3, 161);
}

.TitleStudyCardProfile {
    font-size: 1.2em;
    color: #ffffff; 
    text-shadow: 0 0 10px #000000, 0 0 20px #001aff;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(110, 221, 255);
    padding-bottom: 8px;
}

.UlCardProfile {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 8px;
}

.LiCardProfile {
    font-size: 0.95em;
    color: #93e9ff;
    background-color: rgb(4, 0, 24); 
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid transparent;
    transition: background-color 0.2s;
}

.LiCardProfile:hover {
    background-color: rgba(117, 234, 255, 0.925);
    border: 1px solid #000baa;
    color: #000000;
    box-shadow: inset 0 5px 15px rgba(0, 4, 255, 0.459);
}


@media (max-width: 950px) {
    .AllCardProfileMyInfo {
        max-width: 90%;
        padding: 30px;
    }

    .AllContainerStudiesCardProfile {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}

@media (max-width: 600px) {
    .AllCardProfileMyInfo {
        padding: 20px;
    }
    .TitleNameCardProfile {
        font-size: 2em;
    }

    .subTitleWorkCardProfile {
        font-size: 1.2em;
    }
    
    .UlCardProfile {
        grid-template-columns: 1fr; 
    }
}