.portfolio-container {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    /* ESTO ES CLAVE: Deja espacio libre para el nav al hacer scroll */
    scroll-padding-top: 100px; 
}

.section-wrapper {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* Empuja el contenido del componente hacia abajo */
    padding-top: 80px; 
}